<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @backend_design.name %>
</p>

<%= link_to 'Edit', edit_backend_design_path(@backend_design) %> |
<%= link_to 'Back', backend_designs_path %>
