<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Orangeblack-CV</title>
		<%= wicked_pdf_stylesheet_link_tag "sample_resume" -%>
		<link href="/assets/stylesheets/sample_resume.css" rel="stylesheet" type="text/css" />
	</head>

	<body>

		<div class="mastercontainer">
			<div id="leftHalf"></div>
			<div id="rightHalf"></div>
			<!--START OF PAGE-->
			<div class="container">
				<!--START OF HEADER-->
				<div class="containerheader">
					<!--This is leftcolumn START-->
					<div id="leftcolumn">
						<center>
							<table width="340">
								<tr>
									<td><h1> Michael Febrianto </h1></td>
								</tr>
								<tr>
									<td>
									<div id="profilephoto">
										<%= wicked_pdf_image_tag 'sample_resume/photo.jpg' %>
										&nbsp;
									</div></td>
								</tr>
							</table>
						</center>

					</div>
					<!--This is leftcolumn END-->
					<!--This is rightcolumn START-->
					<div id="rightcolumn">
						<p>
							6+ years experienced Java, Ruby, iOS and Android developer with extensive knowledge of Linux server Administration. Full cycle
							development experience. User Requirement and experience
							engagement with strong analysis to achieve the expected deliverable
						</p>
						<p>
							<table>
								<tr>
									<th>Year of Birth:</th>
									<td>1986</td>
								</tr>
								<tr>
									<th>Location:</th>
									<td>Sydney - NSW - Australia </td>
								</tr>
								<tr>
									<th>Mobile:</th>
									<td>0452 649 226</td>
								</tr>
								<tr>
									<th>Email:</th>
									<td>michaelfebrianto@gmail.com</td>
								</tr>
							</table>
						</p>

						<div id="skillsdiv">
							<p>
								<ul>
									<li>
										Spring
									</li>
									<li>
										Hibernate
									</li>
									<li>
										Struts
									</li>
									<li>
										Ruby
									</li>
									<li>
										Unix Shell Scripting
									</li>
									<li>
										Web Application
									</li>
									<li>
										Spring
									</li>
									<li>
										Spring
									</li>
									<li>
										Spring
									</li>

								</ul>
							</p>
						</div>

					</div>
					<!--This is rightcolumn END-->
				</div>
				<!--END OF HEADER-->

				<!--START OF EXPERIENCE-->
				<div class="containerexperiences">
					<!--This is leftcolumn START-->
					<div id="leftcolumn">
						<h1> Experiences </h1>

					</div>
					<!--This is leftcolumn END-->
					<!--This is rightcolumn START-->
					<div id="rightcolumn">

						<div id="firstcontent">
							<h4>Ruby, iOS &amp; Android Developer</h4>
							Develop iOS and Android application (yoyo button, winextras, hillslodge) with various framework (native phonegap, titanium). Develop buckend system to support the apps with ruby on rails. Maintain Linux servers for test and production environment.
							<p id="companyexperience">
								<span>Tellafriend Pty Ltd</span> - Sydney, Australia
							</p>
							<p id="historyexperience">
								March 2012 - now
							</p>
						</div>

						<div id="middlecontent">
							<h4>Ruby, iOS &amp; Android Developer</h4>
							Develop iOS and Android application (yoyo button, winextras, hillslodge) with various framework (native phonegap, titanium). Develop buckend system to support the apps with ruby on rails. Maintain Linux servers for test and production environment.
							<p id="companyexperience">
								<span>Tellafriend Pty Ltd</span> - Sydney, Australia
							</p>
							<p id="historyexperience">
								March 2012 - now
							</p>
						</div>

						<div id="lastcontent">
							<h4>Ruby, iOS &amp; Android Developer</h4>
							Develop iOS and Android application (yoyo button, winextras, hillslodge) with various framework (native phonegap, titanium). Develop buckend system to support the apps with ruby on rails. Maintain Linux servers for test and production environment.
							<p id="companyexperience">
								<span>Tellafriend Pty Ltd</span> - Sydney, Australia
							</p>
							<p id="historyexperience">
								March 2012 - now
							</p>
						</div>
					</div>

					<!--This is rightcolumn END-->
					<div id="continueborder"></div>

				</div>

				<!--END OF EXPERIENCES-->

				<!--START OF EDUCATION-->
				<div class="containereducation">
					<!--This is leftcolumn START-->
					<div id="leftcolumn">
						<h1> Education </h1>

					</div>
					<!--This is leftcolumn END-->
					<!--This is rightcolumn START-->
					<div id="rightcolumn">

						<div id="firstcontent">

							<table>
								<tr>
									<th id="educationfacility">University of New South Wales</td> <td id="educationdegree"><h4>Artificial Intelligence and E-Commerce</h4> Master of Information Technology</td>
								</tr>
							</table>

							<h4>Ruby, iOS &amp; Android Developer</h4>
							Develop iOS and Android application (yoyo button, winextras, hillslodge) with various framework (native phonegap, titanium). Develop buckend system to support the apps with ruby on rails. Maintain Linux servers for test and production environment.
							<p id="companyexperience">
								<span>Tellafriend Pty Ltd</span> - Sydney, Australia
							</p>
							<p id="historyexperience">
								March 2012 - now
							</p>
						</div>

					</div>

					<!--This is rightcolumn END-->
					<div id="continueborder"></div>

				</div>

				<!--END OF EDUCATION-->

			</div>
			<!--END OF PAGE-->

		</div>

	</body>
</html>
